#article_all  .category-list,#article_all .tag-cloud-list,#article_all #archive{

	margin:10px;
	padding:10px;
	border: solid 1px black;
	border-radius: 20px;

}


#recent-posts > .recent-post-item,.card-widget,.article_all,#post,#page{

background: linear-gradient(-45deg,rgba(255,255,255,.7),rgba(255,255,255,.8),rgba(255,255,255,.8),rgba(255,255,255,.7)) !important;
}



//.card-widget:hover , .recent-post-item:hover{	border: 5px solid white;}